.navigation {
    display: flex;
    justify-content: space-between;

    background-color: $color-secondary-2;
    font-size: 1.5rem;
    
    &__nav {
        display: flex;
        align-items: center;

        @media only screen and (max-width: $breakpoint-mobile) {
            display: none;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        list-style: none;

        margin-right: 1rem;
    }
    
    &__item {
        padding: 0 .5rem;

        &:not(:last-child) {
            border-right: 2px solid $color-white;
        }
    }

    &__link {
        text-decoration: none;
    }
}