/** COLORS **/

$color-primary-1: #24E5A3;
$color-primary-2: #5EF4D6;

$color-secondary-1: #4143B1;
$color-secondary-2: #221727;

$color-white: #F1FFF6;

/** BREAKPOINTS **/
$breakpoint-mobile: 37.5em; // 500px / 16px