/** VARIABLES **/

// COLORS

$color-primary-1: #24E5A3;
$color-primary-2: #5EF4D6;

$color-secondary-1: #4143B1;
$color-secondary-2: #221727;

$color-white: #F1FFF6;

// BREAKPOINTS
$breakpoint-desktop: 75em; // 1200px / 16px
$breakpoint-mobile: 37.5em; // 500px / 16px


/** GLOBAL RESETS **/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.header {
    min-height: 100vh;

    background-image: url('../images/mintbean-dome.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/** TYPOGRAPHY **/
body, 
a {
    color: $color-white;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

p {
    font-family: 'Rubik', sans-serif;
}

.heading-secondary {
    font-size: 2rem;
    color: $color-primary-2;
    text-transform: uppercase;
}


/** LAYOUT **/
.container {
    padding: 1rem 10rem;

    @media only screen and (max-width: $breakpoint-mobile) {
        padding: 1rem;
    }
}

.utility-center-text {
    text-align: center;
}